<h1><%= @player1 %> scores a hit!</h1>
<img src="http://pleated-jeans.com/wp-content/uploads/2011/04/punch001.jpeg">
<p><%= @player2 %> has been hit, the sucker</p>
<p><%= @player2 %>'s HP reduced by 10 points, HP now <%= @player2_points%></p>
