<center>
  <h1 style="color:red;">Welcome to the Arena!<h1>
  <style>body {background-color:black;}</style>
  <h3 style="color:white;">Where the heroes become legend<h3>
    <img align="middle"src="http://s3.amazonaws.com/lcp/miimundo/myfiles/gladiator-714518-1.jpg">
    <form action="/names" method="post">
      <h1><label style="color:white;"for="player1">Gladiator 1:</label>
      <input type="text" name="player1">
      <label style="color:white;"for="player2">Gladiator 2:</label>
      <input type="text" name="player2">
      <input type="submit" value="Submit" style="font-size:10pt;color:white;background-color:black">
      <h1>
    </form>
</center>
