<head>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  </body>
  <center><h1 style="color:white"> <%= @game.player2.name %> loses! <h1>
    <body background="https://playagaingames.files.wordpress.com/2016/01/321gameover.gif">
  <form action="/">
    <input type="submit", value="Restart" style="font-size:10pt;color:white;background-color:black">
  </form></center>
</head>
